.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.modal_active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  pointer-events: all;
  opacity: 1;
}

.modal_content {
  padding: 20px;
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s all;
  transform: scale(0.5);
}

.modal_content_active {
  padding: 20px;
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s all;
  transform: scale(1);
}
