* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.BurgerImg {
  fill: white;
  stroke: black;
}

nav {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 50px;
  background-color: darkorange;
  display: flex;
  align-items: center;
}

.nav_box {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}
